@import url('https://fonts.googleapis.com/css2? family= Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700 & display=swap');
body{
    font-size: 24px;
    background: url("../img/ФОН-РАЗРАБОТЧИКИ.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    cursor: url("../img/cursor.png"), default;
}
.wrapper{
    width: 1300px;
    margin: 0 auto;
}
.header{
    font-family: 'Rubik Mono One', sans-serif;
    font-size: 23px;
    margin-top: 40px;
    text-align: center;
}
.logo{
    width: 50%;
}
.footer{
    text-align: center;
    color: white;
}
.section-music{
    text-align: center;
    color: white;
    margin-top: 100px;
}
.audio-item{
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid #fff;
}
.audio{
    width: 450px;
    align-self: center;
}
.p{
    width: 10%;
}
.nav-link{
    color: white;
    text-decoration: none;
    margin-left: 29px;
}